<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid" id="p404">
      <div class="container">
        <h1 class="display-3">404, not found</h1>
        </br>
        <p>We could not find your page yet but we will try until we find it !</p>
        <hr class="my-4">
        <p>In the meantime you can go <a href="index">back</a> and take a look at other stuff.</p>
        <p class="lead">
        </p>
      </div>
    </div>
  </body>
</html>
