<div class='container'>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Projects</h1>
      <p>
      This page requires you to run the <a href="https://github.com/cseeger-epages/rest-api-go-skeleton">rest-api-go-skeleton</a> on port 9443. Also take a look at js/custom.js for AJAX implementation with CORS
      </p>
      <div id="showcase-errors">
      </div>
      <div class="form-inline">
        <label class="sr-only" for="inlineFormInput">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" placeholder="all">
        <input class="btn btn-primary" type="submit" value="show" id="show-projects">
      </div>
      <table class="table">
        <thead id="showcase-projects-thead">
        </thead>
        <tbody id="showcase-projects">
        </tbody>
      </table>
    </div>
  </div>
</div>
